.breadcrumb, .breadcrumb>li>a, .btn {
    display: inline-block;
}
.breadcrumbs {
    position: relative;
    z-index: auto;
    border-bottom: 1px solid #E5E5E5;
    background-color: #F5F5F5;
    min-height: 41px;
    line-height: 40px;
    padding: 0 12px 0 0;
}
.breadcrumb {
    background-color: transparent;
    line-height: 20px;
    margin: 6px 22px 0 12px;
    padding: 0;
    font-size: 13px;
    color: #333;
    border-radius: 0;
}
.breadcrumb>li, .breadcrumb>li.active {
    color: #555;
    padding: 0 3px;
}
.breadcrumb>li>a {
    color: #4C8FBD;
}
.breadcrumb>li+li:before {
    font-family: FontAwesome;
    font-size: 14px;
    content: "\f105";
    color: #B2B6BF;
    padding: 0;
    margin: 0 8px 0 0;
    position: relative;
    top: 1px;
}
.breadcrumb .home-icon {
    font-size: 20px;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: top;
}
@media only screen and (max-width:480px) {
    .modal.aside-vc .modal-dialog {
    width: 240px;
}
.breadcrumb>li>a {
    padding: 0 1px;
}
}
@media only screen and (max-width:991px) {
    .menu-toggler+.sidebar.responsive+.main-content .breadcrumb {
    margin-left: 90px;
}
}
@media only screen and (max-width:320px) {
    .modal.aside-vc .modal-dialog {
    width: 200px;
}
.breadcrumb {
    margin-left: 8px;
}
.menu-toggler+.sidebar.responsive+.main-content .breadcrumb {
    margin-left: 36px;
}
}
@media (min-width:992px) {
    .breadcrumbs-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: auto;
    z-index: 1024;
}
.breadcrumbs-fixed+.page-content {
    padding-top: 49px;
}
.sidebar+.main-content .breadcrumbs-fixed {
    left: 190px;
}
body.mob-safari .breadcrumbs-fixed {
    top: 45px;
}
.sidebar.compact+.main-content .breadcrumbs-fixed {
    left: 105px;
}
.sidebar.menu-min+.main-content .breadcrumbs-fixed {
    left: 43px;
}
}
@media (min-width:992px) and (max-width:991px) {
    .breadcrumbs-fixed, .sidebar.menu-min+.main-content .breadcrumbs-fixed {
    left: 0;
}
.sidebar.responsive-max+.main-content .breadcrumbs-fixed, .sidebar.responsive-min+.main-content .breadcrumbs-fixed {
    left: 43px;
}
}
@media (min-width:992px) {
    .container.main-container .sidebar.compact+.main-content .breadcrumbs-fixed {
    width: 859px;
}
.container.main-container .breadcrumbs-fixed {
    left: auto;
    right: auto;
    width: 964px;
}
.container.main-container .sidebar+.main-content .breadcrumbs-fixed {
    left: auto;
    right: auto;
    width: 774px;
}
.container.main-container .sidebar.menu-min+.main-content .breadcrumbs-fixed {
    left: auto;
    right: auto;
    width: 921px;
}
}
@media (min-width:1200px) {
    .container.main-container .sidebar.compact+.main-content .breadcrumbs-fixed {
    width: 1059px;
}
.container.main-container .breadcrumbs-fixed {
    width: 1164px;
}
.container.main-container .sidebar+.main-content .breadcrumbs-fixed {
    width: 974px;
}
.container.main-container .sidebar.menu-min+.main-content .breadcrumbs-fixed {
    width: 1121px;
}
}
@media (min-width:992px) and (max-width:991px) {
    .container.main-container .breadcrumbs-fixed, .container.main-container .sidebar.compact+.main-content .breadcrumbs-fixed, .container.main-container .sidebar.menu-min+.main-content .breadcrumbs-fixed {
    width: 744px;
}
.container.main-container .sidebar.responsive-max+.main-content .breadcrumbs-fixed, .container.main-container .sidebar.responsive-min+.main-content .breadcrumbs-fixed {
    left: auto;
    right: auto;
    width: 701px;
}
}
@media (min-width:992px) {
    .h-sidebar+.main-content .breadcrumbs.breadcrumbs-fixed {
    position: relative;
    top: auto;
    left: auto;
    z-index: auto;
    width: auto;
}
.h-sidebar+.main-content .page-content {
    padding-top: 12px;
}
}