.dropdown-menu>.active>a>.ace-icon, .dropdown-menu>li>a:focus>.ace-icon, .dropdown-menu>li>a:hover>.ace-icon, .dropdown-submenu:focus>a>.ace-icon, .dropdown-submenu:hover>a>.ace-icon, .icon-white, .nav-list>.active>a>.ace-icon, .nav-pills>.active>a>.ace-icon, .navbar-inverse .nav>.active>a>.ace-icon {
    background-image: none;
}
.dropdown-menu {
    border-radius: 0!important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.dropdown-menu>li>a {
    font-size: 13px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 4px;
    margin-bottom: 1px;
    margin-top: 1px;
}
.dropdown-menu.dropdown-only-icon>li {
    margin: 0 4px;
}
.dropdown-menu.dropdown-only-icon>li>a .ace-icon {
    width: 18px;
    display: inline-block;
    text-align: center;
}
.dropdown-menu.dropdown-only-icon>li>a .icon-2x {
    width: 36px;
}
.dropdown-menu>li.active:hover>a, .dropdown-menu>li.active>a, .dropdown-menu>li:hover>a, .dropdown-menu>li>a:active, .dropdown-menu>li>a:focus {
    background: #4F99C6;
    color: #FFF;
}
.dropdown-default>li.active:hover>a, .dropdown-default>li.active>a, .dropdown-default>li:hover>a, .dropdown-default>li>a:active, .dropdown-default>li>a:focus {
    background: #ABBAC3;
    color: #FFF;
}
.dropdown-info>li.active:hover>a, .dropdown-info>li.active>a, .dropdown-info>li:hover>a, .dropdown-info>li>a:active, .dropdown-info>li>a:focus {
    background: #6FB3E0;
    color: #FFF;
}
.dropdown-primary>li.active:hover>a, .dropdown-primary>li.active>a, .dropdown-primary>li:hover>a, .dropdown-primary>li>a:active, .dropdown-primary>li>a:focus {
    background: #428BCA;
    color: #FFF;
}
.dropdown-success>li.active:hover>a, .dropdown-success>li.active>a, .dropdown-success>li:hover>a, .dropdown-success>li>a:active, .dropdown-success>li>a:focus {
    background: #87B87F;
    color: #FFF;
}
.dropdown-warning>li.active:hover>a, .dropdown-warning>li.active>a, .dropdown-warning>li:hover>a, .dropdown-warning>li>a:active, .dropdown-warning>li>a:focus {
    background: #FFA24D;
    color: #FFF;
}
.dropdown-danger>li.active:hover>a, .dropdown-danger>li.active>a, .dropdown-danger>li:hover>a, .dropdown-danger>li>a:active, .dropdown-danger>li>a:focus {
    background: #D15B47;
    color: #FFF;
}
.dropdown-inverse>li.active:hover>a, .dropdown-inverse>li.active>a, .dropdown-inverse>li:hover>a, .dropdown-inverse>li>a:active, .dropdown-inverse>li>a:focus {
    background: #555;
    color: #FFF;
}
.dropdown-purple>li.active:hover>a, .dropdown-purple>li.active>a, .dropdown-purple>li:hover>a, .dropdown-purple>li>a:active, .dropdown-purple>li>a:focus {
    background: #9585BF;
    color: #FFF;
}
.dropdown-pink>li.active:hover>a, .dropdown-pink>li.active>a, .dropdown-pink>li:hover>a, .dropdown-pink>li>a:active, .dropdown-pink>li>a:focus {
    background: #D6487E;
    color: #FFF;
}
.dropdown-grey>li.active:hover>a, .dropdown-grey>li.active>a, .dropdown-grey>li:hover>a, .dropdown-grey>li>a:active, .dropdown-grey>li>a:focus {
    background: #A0A0A0;
    color: #FFF;
}
.dropdown-light>li.active:hover>a, .dropdown-light>li.active>a, .dropdown-light>li:hover>a, .dropdown-light>li>a:active, .dropdown-light>li>a:focus {
    background: #E7E7E7;
    color: #333;
}
.dropdown-lighter>li.active:hover>a, .dropdown-lighter>li.active>a, .dropdown-lighter>li:hover>a, .dropdown-lighter>li>a:active, .dropdown-lighter>li>a:focus {
    background: #EFEFEF;
    color: #444;
}
.dropdown-lightest>li.active:hover>a, .dropdown-lightest>li.active>a, .dropdown-lightest>li:hover>a, .dropdown-lightest>li>a:active, .dropdown-lightest>li>a:focus {
    background: #F3F3F3;
    color: #444;
}
.dropdown-yellow>li.active:hover>a, .dropdown-yellow>li.active>a, .dropdown-yellow>li:hover>a, .dropdown-yellow>li>a:active, .dropdown-yellow>li>a:focus {
    background: #FEE188;
    color: #444;
}
.dropdown-yellow2>li.active:hover>a, .dropdown-yellow2>li.active>a, .dropdown-yellow2>li:hover>a, .dropdown-yellow2>li>a:active, .dropdown-yellow2>li>a:focus {
    background: #F9E8B3;
    color: #444;
}
.dropdown-light-blue>li.active:hover>a, .dropdown-light-blue>li.active>a, .dropdown-light-blue>li:hover>a, .dropdown-light-blue>li>a:active, .dropdown-light-blue>li>a:focus {
    background: #ECF3F9;
    color: #456;
}
.dropdown-menu.dropdown-close {
    top: 92%;
    left: -5px;
}
.dropdown-menu.dropdown-close.dropdown-menu-right {
    left: auto;
    right: -5px;
}
.dropdown-menu.dropdown-closer {
    top: 80%;
    left: -10px;
}
.dropdown-menu.dropdown-closer.dropdown-menu-right {
    right: -10px;
    left: auto;
}
.dropup>.dropdown-menu, .navbar-fixed-bottom .dropdown>.dropdown-menu {
    top: auto!important;
    bottom: 100%}
.dropup>.dropdown-menu.dropdown-close, .navbar-fixed-bottom .dropdown>.dropdown-menu.dropdown-close {
    bottom: 92%}
.dropup>.dropdown-menu.dropdown-closer, .navbar-fixed-bottom .dropdown>.dropdown-menu.dropdown-closer {
    bottom: 80%}
.dropdown-submenu>.dropdown-menu {
    border-radius: 0;
}
.dropdown-submenu>a:after {
    margin-right: -5px;
}
.dropdown-75 {
    min-width: 75px;
}
.dropdown-100 {
    min-width: 100px;
}
.dropdown-125 {
    min-width: 125px;
}
.dropdown-150 {
    min-width: 150px;
}
.dropdown-hover {
    position: relative;
}
.dropdown-hover:before {
    display: block;
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background-color: transparent;
}
.dropdown-hover:hover>.dropdown-menu {
    display: block;
}
.dropdown-menu.dropdown-caret:after, .dropdown-menu.dropdown-caret:before {
    content: "";
    display: inline-block;
    position: absolute;
}
.dropdown-menu>.dropdown-hover>.dropdown-menu {
    top: -5px;
    left: 99%;
    right: auto;
}
.dropdown-menu>.dropdown-hover>.dropdown-menu.dropdown-menu-right {
    left: auto;
    right: 99%}
.dropdown-menu>.dropdown-hover.dropup>.dropdown-menu, .dropup .dropdown-menu>.dropdown-hover>.dropdown-menu {
    top: auto;
    bottom: -5px;
}
.dropdown-menu.dropdown-caret:before {
    border-bottom: 7px solid rgba(0, 0, 0, .2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    left: 9px;
    top: -6px;
}
.dropdown-menu.dropdown-caret:after {
    border-bottom: 6px solid #FFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    left: 10px;
    top: -5px;
}
.dropdown-menu.dropdown-caret-right.dropdown-caret:before, .dropdown-menu.dropdown-menu-right.dropdown-caret:before {
    left: auto;
    right: 9px;
}
.dropdown-menu.dropdown-caret-right.dropdown-caret:after, .dropdown-menu.dropdown-menu-right.dropdown-caret:after {
    left: auto;
    right: 10px;
}
.dropup>.dropdown-menu.dropdown-caret:before, .navbar-fixed-bottom .dropdown>.dropdown-menu.dropdown-caret:before {
    border-bottom-width: 0;
    border-top: 7px solid rgba(0, 0, 0, .2);
    bottom: -7px;
    top: auto;
}
.dropup>.dropdown-menu.dropdown-caret:after, .navbar-fixed-bottom .dropdown>.dropdown-menu.dropdown-caret:after {
    border-bottom-width: 0;
    border-top: 6px solid #FFF;
    bottom: -6px;
    top: auto;
}
.dropdown-colorpicker>.dropdown-menu {
    padding: 4px;
    min-width: 130px;
    max-width: 130px;
    top: 80%;
    left: -7px;
}
.dropdown-colorpicker>.dropdown-menu.dropdown-menu-right {
    right: -7px;
    left: auto;
}
.dropdown-colorpicker>.dropdown-menu>li {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin: 2px;
}
.dropdown-colorpicker>.dropdown-menu>li>.colorpick-btn {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    position: relative;
    -webkit-transition: all ease .1s;
    -o-transition: all ease .1s;
    transition: all ease .1s;
}
.dropdown-colorpicker>.dropdown-menu>li>.colorpick-btn:hover {
    text-decoration: none;
    opacity: .8;
    filter: alpha(opacity=80);
    -webkit-transform: scale(1.08, 1.08);
    -ms-transform: scale(1.08, 1.08);
    -o-transform: scale(1.08, 1.08);
    transform: scale(1.08, 1.08);
}
.dropdown-colorpicker>.dropdown-menu>li>.colorpick-btn.selected:after {
    content: "\f00c";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 11px;
    color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 20px;
}
.btn-colorpicker {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #DDD;
    vertical-align: middle;
    border-radius: 0;
}
.dropdown-navbar {
    padding: 0;
    width: 240px;
    -webkit-box-shadow: 0 2px 4px rgba(30, 30, 100, .25);
    box-shadow: 0 2px 4px rgba(30, 30, 100, .25);
    border-color: #BCD4E5;
}
.dropdown-navbar>li {
    padding: 0 8px;
    background-color: #FFF;
}
.dropdown-navbar>li.dropdown-header {
    text-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 34px;
    font-size: 13px;
    font-weight: 700;
    text-transform: none;
    border-bottom: 1px solid;
}
.dropdown-navbar>li>.ace-icon, .dropdown-navbar>li>a>.ace-icon {
    margin-right: 5px!important;
    color: #555;
    font-size: 14px;
}
.dropdown-navbar>li>a {
    padding: 10px 2px;
    margin: 0;
    border-top: 1px solid;
    font-size: 12px;
    line-height: 16px;
    color: #555!important;
    background-color: transparent!important;
    white-space: normal;
    border-top-color: #E4ECF3;
}
.dropdown-navbar>li>a .progress {
    margin-bottom: 0;
    margin-top: 4px;
}
.dropdown-navbar>li>a .badge {
    line-height: 16px;
    padding-right: 4px;
    padding-left: 4px;
    font-size: 12px;
}
.dropdown-navbar>li.dropdown-header+li>a, .dropdown-navbar>li:first-child>a {
    border-top-width: 0;
}
.dropdown-navbar>li.dropdown-footer>a {
    color: #4F99C6!important;
    text-align: center;
    font-size: 13px;
}
.dropdown-navbar>li.dropdown-footer>a:hover {
    background-color: #FFF;
    text-decoration: underline;
}
.dropdown-navbar>li.dropdown-footer>a:hover>.ace-icon {
    text-decoration: none;
}
.dropdown-navbar>li:hover {
    background-color: #F4F9FC;
}
.dropdown-navbar>li.dropdown-header {
    background-color: #ECF2F7;
    color: #8090A0;
    border-bottom-color: #BCD4E5;
}
.dropdown-navbar>li.dropdown-header>.ace-icon {
    color: #8090A0;
}
.dropdown-navbar.navbar-pink {
    border-color: #E5BCD4;
}
.dropdown-navbar.navbar-pink>li:hover {
    background-color: #FCF4F9;
}
.dropdown-navbar.navbar-pink>li.dropdown-header {
    background-color: #F7ECF2;
    color: #B471A0;
    border-bottom-color: #E5BCD4;
}
.dropdown-navbar.navbar-pink>li.dropdown-header>.ace-icon {
    color: #C06090;
}
.dropdown-navbar.navbar-pink>li>a {
    border-top-color: #F3E4EC;
}
.dropdown-navbar.navbar-grey {
    border-color: #E5E5E5;
}
.dropdown-navbar.navbar-grey>li:hover {
    background-color: #F8F8F8;
}
.dropdown-navbar.navbar-grey>li.dropdown-header {
    background-color: #F2F2F2;
    color: #3A87AD;
    border-bottom-color: #E5E5E5;
}
.dropdown-navbar.navbar-grey>li.dropdown-header>.ace-icon {
    color: #3A87AD;
}
.dropdown-navbar.navbar-grey>li>a {
    border-top-color: #EEE;
}
.dropdown-navbar.navbar-green {
    border-color: #B4D5AC;
}
.dropdown-navbar.navbar-green>li:hover {
    background-color: #F4F9EF;
}
.dropdown-navbar.navbar-green>li.dropdown-header {
    background-color: #EBF7E4;
    color: #8A6;
    border-bottom-color: #B4D5AC;
}
.dropdown-navbar.navbar-green>li.dropdown-header>.ace-icon {
    color: #90C060;
}
.dropdown-navbar.navbar-green>li>a {
    border-top-color: #ECF3E4;
}
.dropdown-navbar [class*=btn].ace-icon {
    display: inline-block;
    margin: 0 5px 0 0;
    width: 24px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
.dropdown-navbar .msg-photo {
    max-width: 42px;
    float: left;
    margin-top: 2px;
}
.dropdown-navbar .msg-body {
    display: block;
    line-height: 20px;
    white-space: normal;
    vertical-align: middle;
    margin-left: 50px;
}
.dropdown-navbar .msg-title {
    display: inline-block;
    line-height: 14px;
}
.dropdown-navbar .msg-time {
    display: block;
    font-size: 11px;
    color: #777;
}
.dropdown-navbar .msg-time>.ace-icon {
    font-size: 14px;
    color: #555;
}
.dropdown-navbar>.dropdown-content {
    padding: 0;
}
.dropdown-navbar>.dropdown-content .dropdown-navbar {
    list-style: none;
    margin: 0;
    padding: 0!important;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
    display: block;
    float: none;
    border-width: 0;
    position: static;
    z-index: auto;
}
.dropdown-navbar .nav-tabs {
    border-width: 0;
    box-shadow: none;
    background-color: #F9F9F9!important;
    top: auto;
    width: 100%}
.dropdown-navbar .nav-tabs>li {
    display: table-cell;
    width: 1%;
    float: none!important;
}
.dropdown-navbar .nav-tabs>li>a {
    margin: 0 0 0 1px!important;
    text-align: center;
    box-shadow: none!important;
    background-color: #F9F9F9!important;
    border-width: 0!important;
    border-bottom: 2px solid #BECAD1!important;
}
.dropdown-navbar .nav-tabs>li>a:before {
    display: block;
    content: "";
    position: absolute;
    left: -1px;
    top: 3px;
    bottom: 3px;
    width: 1px;
    background-color: #BECAD1;
}
.dropdown-navbar .nav-tabs>li:first-child>a {
    margin-left: 0!important;
}
.dropdown-navbar .nav-tabs>li:first-child>a:before {
    display: none;
}
.dropdown-navbar .nav-tabs>li.active>a {
    border-bottom: 2px solid #79B0CE!important;
    color: #5085AF!important;
    background-color: #ECF2F7!important;
}
.dropdown-navbar .tab-content {
    padding: 0!important;
    border-color: #FFF!important;
}
.dropdown-navbar .tab-content .dropdown-menu {
    display: block;
    position: static;
    margin: 0!important;
    padding-top: 2px;
    border-color: #FFF!important;
    box-shadow: none!important;
    width: 100%}
.dropdown-navbar.navbar-pink .nav-tabs>li.active>a {
    border-bottom: 2px solid #E5BCD4!important;
    color: #C06090!important;
    background-color: #F7ECF2!important;
}
.dropdown-navbar.navbar-pink .nav-tabs>li:not(.active)>a:hover {
    color: #BA7396;
}
.dropdown-navbar.navbar-pink .nav-tabs>li>a:before {
    background-color: #CEBBCB;
}
.dropdown-navbar.navbar-pink .nav-tabs>li>a {
    border-bottom-color: #CEBBCD!important;
}

