.star-on-png {
    color: #FEB902;
}
.star-on-png:before {
    content: "\f005"}
.star-off-png {
    color: #777;
}
.star-off-png:before {
    content: "\f006"}
.star-half-png {
    color: #FEB902;
}
.star-half-png:before {
    content: "\f123"}