.ace-spinner {
    display: inline-block;
}
.ace-spinner .spinbox-buttons.btn-group-vertical {
    min-width: 18px;
}
.ace-spinner .spinbox-buttons.btn-group-vertical>.btn {
    font-size: 10px;
    padding: 0;
    width: 22px;
    height: 16px;
    line-height: 8px;
    margin-left: 0;
}
.ace-spinner .spinbox-buttons.btn-group-vertical>.btn:first-child {
    margin-top: 0;
}
.ace-spinner .spinbox-buttons.btn-group-vertical>.btn>.ace-icon {
    margin: 0;
    padding: 0;
}
.ace-spinner .spinbox-buttons.btn-group-vertical>.btn+.btn {
    margin-top: 2px;
}
.ace-spinner .spinbox-buttons.btn-group-vertical>.btn-xs {
    height: 14px;
    line-height: 7px;
}
.ace-spinner .spinbox-buttons.btn-group-vertical>.btn-lg {
    height: 22px;
    line-height: 10px;
    width: 22px;
}
.steps>li .step, .steps>li.complete .step:before {
    line-height: 30px;
    background-color: #FFF;
    text-align: center;
}
.ace-spinner .spinbox-buttons>button.btn.spinbox-up:active {
    top: -1px;
}
.ace-spinner:not(.touch-spinner) .spinbox-buttons>.btn>.ace-icon {
    margin-top: -1px;
}
.ace-spinner.touch-spinner .spinbox-buttons {
    margin: 0;
    font-size: 0;
}
.ace-spinner.touch-spinner .spinbox-buttons .btn-sm {
    width: 32px;
    padding-left: 6px;
    padding-right: 6px;
}
.ace-spinner.touch-spinner .spinbox-buttons .btn-xs {
    width: 24px;
    padding-left: 4px;
    padding-right: 4px;
}
.ace-spinner.touch-spinner .spinbox-buttons .btn-lg {
    width: 40px;
    padding-left: 8px;
    padding-right: 8px;
}
.ace-spinner.touch-spinner .spinbox-buttons>.btn {
    margin: 0 1px!important;
}
.ace-spinner.touch-spinner .spinbox-buttons>.btn-xs {
    padding-top: 3px;
    padding-bottom: 3px;
}